* {
  margin: 0%;
}

header{
  background-color: black;
  color: aliceblue;
  padding: 5px;
  margin: auto;
  text-align: center;
}
body{
  background-color: aliceblue;
}
.box-content {
  width: 40%;
  height: 100%;
  background-color: rgb(176, 207, 197);
  border-radius: 7px;
  padding: 20px;
  margin: auto;
  margin-top: 1%;
}

#resumo {
  resize: none;
}

fieldset{
  width: 70%;
  margin: auto;
}

textArea{
  width: 100%;
  height: 200px;
}